@import '../../stylesheets/constants.scss';

.room-page {
  background-color: #040404;
  height: 100vh;
  display: flex;

  // background-image: url('../../assets/graffiti.jpg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  .room-content {
    flex: 1;
    color: $yellow;
    padding: 80px 10% 0;

    h2 {
      font-size: 300%;
      margin: 0 0 10px;
    }

    p {
      color: lighten(black, 50%);
      font-size: 90%;
      position: relative;
      left: 5px;
    }
  }

  .room-chat {
    width: 400px;
    height: 100%;
  }
}