.chatBox {
  width: auto;
}
.chatFeed {
  height: 500px;
  background-color: transparent;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}
.chat-img {
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
}
