.songOption {
  border: 1px solid rgba(255, 255, 255, 0.02);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.songOption-add {
  color: #fff;
  font-size: 12px;
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 0;
}